name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Bun setup
        uses: oven-sh/setup-bun@v2

      - name: Install deps
        run: bun ci

      - name: Format
        run: bun fmt:check

      - name: Lint
        run: bun lint

      - name: Build
        run: bun run build
